@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply dark:bg-gray-700 dark:text-gray-200 text-gray-800 select-none transition-colors duration-300;
  }

  .dark-mode-toggle {
    @apply text-xl hover:text-amber-500 cursor-pointer;
  }
}
